<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Nacho Serrano</title>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Nacho Serano</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" /><link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body ng-app="app" ng-controller="MainController">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">{{brand}}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="myMenu">
          <li data-menuanchor="Home"><a href="#Home">{{home}}</a></li>
          <li data-menuanchor="About"><a href="#About">{{about}}</a></li>
          <li data-menuanchor="Portfolio"><a href="#Portfolio">{{portfolio}}</a></li>
          <li data-menuanchor="Contact"><a href="#Contact">{{contact}}</a></li>
        </ul>
        <ul class="nav navbar-form navbar-right">
          <li class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="lang('en')" ng-class="{active: isEn}">En</button>
            <button type="button" class="btn btn-default" ng-click="lang('zh')" ng-class="{active: isZh}">Es</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="fullpage">
    <div class="jumbotron section" data-anchor="Home">
      <div class="container-fluid">
        <h1>{{title}}</h1>
        <p>{{desc}}</p>
        <hr />
        <a class="btn btn-default btn-lg" ng-click="href('twitter')" role="button"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
        <a class="btn btn-default btn-lg" ng-click="href('github')" role="button"><i class="fa fa-github"></i>&nbsp;&nbsp;GitHub</a>
        <a class="btn btn-default btn-lg" ng-click="href('linkedin')" role="button"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
        <a class="btn btn-default btn-lg" ng-click="href('facebook')" role="button"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
        <a class="btn btn-default btn-lg" ng-click="href('google+')" role="button"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Google+</a>
        <a class="btn btn-default btn-lg" ng-click="href('freecodecamp')" role="button"><i class="fa fa-fire"></i>&nbsp;&nbsp;freeCodeCamp</a>
      </div>
    </div>
    <div class="jumbotron section" data-anchor="About">
      <div class="container-fluid">
        <h2>{{aboutMe}}</h2>
        <hr />
        <p class="resume col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind-html="resume | toHtml"></p>
        <div class="pic col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img class="image" src="https://github.com/ignacioserrano9/nachoserrano/blob/master/assets/img/1600855596299.jpeg?raw=true" />
          <img class="image" src="" />
          <!-- Anadir imagen aqui -->
        </div>
      </div>
    </div>
    <div class="jumbotron section" data-anchor="Portfolio">
      <div class="container-fluid">
        <h2 id="works">{{works}}</h2>
        <hr id="works-hr" />
        <div class="portfolio col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-repeat="portfolio in portfolios">
          <a class="portfolio-link" ng-href="{{portfolio.href}}" new-tab>
            <img class="portfolio-img" ng-src="{{portfolio.src}}" />
            <div class="portfolio-desc">{{portfolio.desc}}</div>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron section" data-anchor="Contact">
      <div class="container-fluid">
        <h1>{{contactMe}}</h1>
        <hr />
        <h2>{{name}}</h2>
        <h2><a class="email" href="mailto:signacio1991@gmail.com">signacio1991@gmail.com</a></h2>
        <hr />
        <a class="github-button" href="https://github.com/ignacioserrano9" data-style="mega" data-count-href="/ignacioserrano9/followers" data-count-api="/users/ignacioserrano9#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @ignacioserrano9 on GitHub"
        new-tab>Follow @ignacioserrano9</a>
        <a class="github-button" href="https://github.com/ignacioserrano9/nachoserrano" data-icon="octicon-eye" data-style="mega" data-count-href="/ignacioserrano9/nachoserrano/watchers" data-count-api="/repos/ignacioserrano9/nachoserrano#subscribers_count"
        data-count-aria-label="# watchers on GitHub" aria-label="Watch chuah48263/chuah48263.github.io on GitHub" new-tab>Watch</a>
        <a class="github-button" href="https://github.com/ignacioserrano9/nachoserrano" data-icon="octicon-star" data-style="mega" data-count-href="/ignacioserrano9/nachoserrano/stargazers" data-count-api="/repos/ignacioserrano9/nachoserrano#stargazers_count"
        data-count-aria-label="# stargazers on GitHub" aria-label="Star ignacioserrano9/nachoserrano on GitHub" new-tab>Star</a>
        <a class="github-button" href="https://github.com/ignacioserrano9/nachoserrano/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/ignacioserrano9/nachoserrano/network" data-count-api="/repos/ignacioserrano9/nachoserrano#forks_count"
        data-count-aria-label="# forks on GitHub" aria-label="Fork ignacioserrano9/nachoserrano on GitHub" new-tab>Fork</a>
        <a class="github-button" href="https://github.com/ignacioserrano9/nachoserrano/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/ignacioserrano9/nachoserrano#open_issues_count" data-count-aria-label="# issues on GitHub"
        aria-label="Issue ignacioserrano9/nachoserrano on GitHub" new-tab>Issue</a>
        <a class="github-button" href="https://github.com/ignacioserrano9/nachoserrano/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download ignacioserrano9/nachoserrano on GitHub" new-tab>Download</a>
        <p>{{licensePre}}<a class="mit" ng-click="href('mit')">MIT</a>{{licensePost}}</p>
      </div>
    </div>
  </div>
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script  src="./script.js"></script>

</body>
</html>
